/* Estilo para o corpo da página */
body {
    background-color: #2c3e50; /* Azul escuro */
    color: #ecf0f1; /* Cinza claro */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Estilo para todos os parágrafos */
  p {
    font-size: 18px;
    line-height: 1.6;
  }
  
  /* Estilo para o primeiro parágrafo */
  #p-first {
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Estilo para o parágrafo com a classe .p-color */
  .p-color {
    color: #3498db; /* Azul */
  }
  
  /* Estilo para todas as imagens */
  img {
    max-width: 100%; 
    height: auto; 
    width: 150px; 
    display: block; 
    margin: 0 auto 10px; 
  }
  
  /* Estilo para o título */
  h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    color: #3498db; 
  }
  
  /* Estilo para a lista de jogos */
  ul {
    list-style: none;
    padding: 0;
  }
  
  /* Estilo para cada item da lista */
  ul li {
    text-align: center; 
    margin-bottom: 20px; 
    color: #2c3e50; 
  }
  
  /* Estilo para os links */
  ul li a {
    color: #2980b9; 
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
  }
  
  ul li a:hover {
    color: #3498db; /* Azul */
  }

  ul li p {
    font-size: 16px; 
    text-align: center; 
    color: #ecf0f1; 
    margin-top: 5px; 
}